
#matrix {
  display: inline-block;
  background-color: black;
  color: white;
  width: 59%;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 50px;
}

.side-panel {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.content {
  margin-bottom: 40px;
}

body {
	background-color: black;
}

img {
	display:inline-block;
	/*margin-right: 10px;
  margin-left: 10px;*/
}

h1 {
	display:inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
}

h3 {
	font-size: 20pt;
	font-family: italic;
  color: white;
}

.row {
	margin: auto;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.notes {
	width: 4px;
	height: 4px;
	
	background-color: #494949;
	border-radius: 2px;
  border: 2px solid gray;

  padding: 10px;
  display:inline-block;

  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 3px;
  margin-left: 3px;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container-1{
  display:inline-block;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: center;
  padding-top: 20px;
  height: 50px;
  background: #BFBFBF;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.header {
	padding-top: 1px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-size: 80px;
  color : white;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
}

#trexImg {
  width: 20%;
}

.tool {
  padding: 10px;
  color: white;
  background-color: black;
}

.tool input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  background-color: black;
  color: white;
}

button {
  color: #fff;
  background-color: #494949;
  border: 2px solid gray;
  border-radius: 2px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
}

