
#matrix {
  display: inline-block;
  background-color: black;
  color: white;
  width: 59%;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 50px;
}

.side-panel {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.content {
  margin-bottom: 40px;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
	background-color: black;
}

img {
	display:inline-block;
	/*margin-right: 10px;
  margin-left: 10px;*/
}

h1 {
	display:inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
}

h3 {
	font-size: 20pt;
  color: white;
}

.row {
	margin: auto;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.notes {
	width: 4px;
	height: 4px;
	
	background-color: #494949;
	border-radius: 2px;
  border: 2px solid gray;

  padding: 10px;
  display:inline-block;

  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 3px;
  margin-left: 3px;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none; 
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container-1{
  display:inline-block;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: center;
  padding-top: 20px;
  height: 50px;
  background: #BFBFBF;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.header {
	padding-top: 1px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-size: 80px;
  color : white;
  /*font-family: Copperplate, "Copperplate Gothic Light", fantasy;*/
  text-align: center;
}

#trexImg {
  width: 20%;
}

.tool {
  padding: 10px;
  color: white;
  background-color: black;
}

.tool textarea {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;

  font-family: 'Ubuntu Condensed', sans-serif;
  transition: border 0.3s;
  background-color: black;
  color: white;
}
.tool textarea:focus,
.tool textarea.focus {
  border-bottom: solid 2px #969696;
}

.tool input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;

  font-family: 'Ubuntu Condensed', sans-serif;
  transition: border 0.3s;
  background-color: black;
  color: white;
}
.tool input[type="text"]:focus,
.tool input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

button {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  background-color: #494949;
  border: 2px solid gray;
  border-radius: 2px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
}

select {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  background-color: #494949;
  border: 2px solid gray;
  border-radius: 2px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
}

.song {
  color: white;
  padding-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

#titleInput {
  width: 320px;
  text-align: center;
  font-size: 32px;
}

#authorInput {
  width: 320px;
  text-align: center;
  font-size: 24px;
}

#descInput {
  width: 320px;
  text-align: center;
  font-size: 16px;
}

.songLikes {
  font-size: 28px;
}

.songTitle {
  font-size: 28px;
  cursor: pointer;
}
.songTitle:hover {
  text-decoration: underline;
}

.songArtist {
  font-size: 24px;
  cursor: pointer;
}
.songArtist:hover {
  text-decoration: underline;
}

.songComment {
  font-size: 16px;
}

.songInfo {
  width: 70%;
  display: inline-block;
}

.songButton {
  width: 10%;
  display: inline-block;
}

.songMatrix {
  width: 20%;
  display: inline-block;
  margin-top: 10px;

  cursor: pointer;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 150px;
    margin-right: 150px;
    border-style: inset;
    border-width: 1px;
    color: white;
} 

#searchArea {
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 4px solid white;
}

#searchType {
}

#searchBar {
  margin: 10px;
}

/* styling from http://www.htmllion.com/html5-range-input-with-css.html */
    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        -moz-appearance: none;
        border-radius: 5px;
        box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
        background-color: #FFF;
        height: 8px;
        vertical-align: middle;

    }
    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 5px;
        box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
        background-color: #FFF;
        height: 10px;
        vertical-align:middle;
        border:solid 1px rgba(0,0,0,0.25);
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow:inset 0px 1px 0px rgba(000,000,000,0.5);
        border: 1px solid #999;
        height: 20px;
        width: 7px;
        vertical-align:middle;
        margin-top: -6px;
    }
    input[type='range']::-moz-range-track {
        -moz-appearance: none;
        border-radius: 5px;
        box-shadow: inset 1px 1px 1px rgba(000,000,000,0.25);
        background-color: #FFF;
        height: 8px;
        border:solid 1px rgba(0,0,0,0.25);
        vertical-align:middle;
        margin:0;
        padding:0;
    }
    input[type='range']::-moz-range-thumb {
        -moz-appearance: none;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow:inset 0px 1px 0px rgba(000,000,000,0.5);
        border: 1px solid #999;
        height: 20px;
        width: 5px;
    }

input[type=text] {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.smallNote {
  width: 1px;
  height: 1px;
  
  border-radius: 2px;
  border: 2px solid gray;

  padding: 5px;
  display:inline-block;

  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 3px;
  margin-left: 3px;
}